@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* スクロールバーデザイン */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #636363;
}
::-webkit-scrollbar-thumb {
  background-color: #ababab;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #dbdbdb;
}

.short-overflow-y::-webkit-scrollbar {
  height: 7px;
}

/* ランキングデザイン */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gold,
.silver,
.bronze {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 800% 400%;
  animation: gradient 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  display: inline-block;
  font-weight: bold;
}

.gold {
  background-image: linear-gradient(
    45deg,
    #daaf08 0%,
    #daaf08 45%,
    #fee9a0 70%,
    #daaf08 85%,
    #daaf08 90% 100%
  );
}

.silver {
  background-image: linear-gradient(
    45deg,
    #757575 0%,
    #9e9e9e 45%,
    #e8e8e8 70%,
    #9e9e9e 85%,
    #757575 90% 100%
  );
}

.bronze {
  background-image: linear-gradient(
    45deg,
    #a57e65 0%,
    #a57e65 45%,
    #f3cfb8 70%,
    #a57e65 85%,
    #a57e65 90% 100%
  );
}
